	body {
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}
ul  {
	text-style:none;
}
a {
    text-decoration: none;
}	
nav{
	background-color:lightred;
}
nav ul{
	display:flex;
	
}
section {
    width: 100%;
    height: 75vh;
    background-image: url("bg.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul li {
	background-color:white;
	margin :40px;
	font-size:15px;
	font-weight:40px;
}	

.text{
	position:absolute;
	left:15%;
}
.text p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 40px;
}
.text p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    color: #1a1a1a;
    letter-spacing: 1px;
    font-size:60px;
	
}
.text p:nth-child(3){
    font-family: calibri;
    color: #403e3e;
    font-size:30px;
    margin:50px 0px 30px 0px;
}
.text button {
    width:130px;
    height:42px;
    border-radius:10px;
    font-family: calibri;
    font-weight: bold;
    font-size:14px;
    outline: none;
    margin:0px 10px;
}

.model {
    height: 350px;
    position: absolute;
    right:450px;
	width:27%;
	
    
}
.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#000000;
    font-size:28px;
}

.about-container {
    width:80%;
    height:330px;
    background-color:#ffffff;
    border-radius: 15px;
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content:space-between ;
    align-items: center;
    overflow: hidden;
}
.about-text p:nth-child(1){
    color: #403e3e;
    font-size:23px;
    font-weight:bold;
    line-height: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about-text p:nth-child(2){
    color: #3e3d3d;
    font-size:15px;
    font-weight:old;
    line-height: 5px;
}
.about-text p:nth-child(3),.about-text p:nth-child(4){
    color: #7e7d7d;
    font-size:23px;
}
.about-text button{
    width:120px;
    height:40px;
    color:#FFFFFF;
    background-color:#262525;
}
.proj{
	background-color:white;
	text-align:center;
    align-items: center;
	height:15vh;
}
.projects{
    text-align:space-between;
    align-items:center;
	
}
.projects a{
    margin:30px;
    padding:7px;
    text-decoration: none;
    color:#000000;
    font-family: PT sans, sans-serif;
    font-weight:bold;
    border:1px solid black;
	
}
footer {
    height:50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 160, 160);
}
